# macOS-specific files
.DS_Store

# Build output
.output
/build
/.svelte-kit
/package

# Dependencies
node_modules

# Environment variables
.env
.env.production

# Vercel
.vercel

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
